{% block content %}
<form method="post" action="{% url 'billboard:create_comment' billboard.id %}">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Добавить" />
</form>
<hr />
{% for comment in comments %}
<div class="comment_div">
  <p><b>Комментарий:</b></p>
  <p>{{ comment.text }}</p>
  <a href="{% url "billboard:update_comment" billboard.id comment.id %}" role="button">Отредактировать комментарий</a>
  <a href="{% url "billboard:delete_comment" billboard.id comment.id %}" role="button">Удалить комментарий</a>
</div>
{% endfor %} {% endblock content %}
