{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
{% if '/edit_comment/' in request.path %}
Редактирования комментария
{% else %}
Удаление комментария
{% endif %}
{% endblock title %}

{% block header_name %}
{% if '/edit_comment/' in request.path %}
<h1>Редактирование комментария</h1>
{% else %}
<h1>Удаление комментария</h1>
{% endif %}
{% endblock header_name %}


{% block content %}
<div  class="col d-flex justify-content-center">
    <form method="post"
    {% if '/edit_comment/' in request.path %}
    action="{% url 'billboard:update_comment' comment.billboard_id comment.id %}"
    {% endif %}>
    {% csrf_token %}
    {% if not '/delete_comment/' in request.path %}
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                {% bootstrap_form form %}
            </div>        
        </div>
    </div>
    {% else %}
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <p>ID: <b>{{ comment.id }}</b></p>
                <p>Текст комментария: {{ comment.content }}</p>
            </div>        
        </div>
    </div>
    {% endif %}
    {% bootstrap_button content='Отправить' button_type='submit' %}
    </form>
</div>
{% endblock content %}

