{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
{% if '/create/' in request.path %}
Добавление объявления
{% elif '/edit/' in request.path %}
Изменение объявления
{% else %}
Удаление объявления
{% endif %}
{% endblock title %}

{% block header_name %}
{% if '/create/' in request.path %}
<h1>Добавление объявления</h1>
{% elif '/edit/' in request.path %}
<h1>Изменение объявления</h1>
{% else %}
<h1>Удаление объявления</h1>
{% endif %}
{% endblock header_name %}
{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
          <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if not '/delete/' in request.path %}
                <table>
                    {% bootstrap_form form %}
                </table>
                {% else %}
                <article>
                    <h1>Удалить объявления {{ billboard.title }}?</h1>
                    <div>
                        <p><b>Название:</b> {{ billboard.title }}</p>
                        <p><b>Описание:</b> {{ billboard.content }}</p>
                        <p><b>Цена:</b> {{ billboard.price }}</p>
                    </div>  
                </article>
                {% endif %}
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>
</div>
{% endblock content %}