{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
Объявление {{ billboard.id }}
{% endblock title %}

{% block header_name %}
<h1>Объявление {{ billboard.id }}</h1>
{% endblock header_name %}

{% block content %}
{% include "includes/billboard_card.html" %}
{% if user == billboard.author %}
<div class="col d-flex justify-content-center">
  <p>
    <a href="{% url "billboard:update_billboard" billboard.id %}" class="card-link">Редактировать объявление</a>
    <a href="{% url "billboard:delete_billboard" billboard.id %}" class="card-link text-muted">Удалить объявление</a></p>
</div>
{% endif %}
<hr>
{% include "includes/comments.html" %}
{% endblock content %}