{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
Объявление {{ billboard.id }}
{% endblock title %}

{% block header_name %}
<h1>Объявление {{ billboard.id }}</h1>
{% endblock header_name %}

{% block content %}
<div>
  <h2>{{ billboard.title }}</h2>
  <p>Категория: <a href="{% url "billboard:category_bbs" billboard.category.slug %}">{{ billboard.category.title }}</a></p>
  <p>Описание: {{ billboard.content }}</p>
  <p>Цена: {{ billboard.price|floatformat:'2g' }} руб.</p>
  {% if billboard.image %}
  <p>Изображение: 
    <a href="{{ billboard.image.url }}" target="_blank">
      <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" height="200" width="200" align="center" src="{{ billboard.image.url }}">
    </a>
  </p>
  {% endif %}
  <p>Опубликовано: {{ billboard.published_at }}</p>
  <p>Тип объявления: {{ billboard.get_kind_display }}</p>
</div>
<div>
  <p><a href="{% url "billboard:update_billboard" billboard.id %}">Редактировать объявление</a> <a href="{% url "billboard:delete_billboard" billboard.id %}">Удалить объявление</a></p>
</div>
<hr>
{% include "includes/comments.html" %}
{% endblock content %}