{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
Доска объявлений
{% endblock title %}

{% block header_name %}
<h1>Объявления</h1>
{% endblock header_name %}

{% block content %}
{% for billboard in page_obj %}
<div>
  <hr>
  <h2>{{ billboard.title }}</h2>
  <p>
    Категория:
    <a href="{% url 'billboard:category_bbs' billboard.category.slug %}"
    >{{ billboard.category.title }}</a
    >
  </p>
  <p>Опубликовано: {{ billboard.published_at|date:"d.m.Y H:i:s" }}</p>
  <p>Цена: {{ billboard.price }} руб.</p>
  <a href="{% url "billboard:billboard_detail" billboard.id %}">Подробнее</a>
  <hr>
</div>
{% endfor %}
<span>
  <h2>
    Фильтры
  </h2>
  <form method="post">
    {% csrf_token %}
    <table>
      {% bootstrap_form form %}
    </table>
    <p><input type="submit" value="Применить фильтры"/></p>
    <form> 
</span>
<div>
  {% include "includes/paginator.html" %}
</div>
{% endblock content %}