<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Главная :: Доска объявлений</title>
  </head>
  <body>
    <h1>Объявления</h1>
    {% for billboard in billboards %}
    <div>
      <h2>{{ billboard.title }}</h2>
      <p>Описание: {{ billboard.content }}</p>
      <p>
        Категория:
        <a href="{% url 'billboard:category_bbs' billboard.category.name %}"
          >{{ billboard.category.name }}</a
        >
      </p>
      <p>Опубликовано: {{ billboard.published_at|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
  </body>
</html>
