{% extends "base.html" %}

{% block title %}
Доска объявлений
{% endblock title %}

{% block header_name %}
<h1>Объявления</h1>
{% endblock header_name %}

{% block content %}
{% for billboard in billboards %}
<div>
  <hr>
  <h2>{{ billboard.title }}</h2>
  <p>
    Категория:
    <a href="{% url 'billboard:category_bbs' billboard.category.slug %}"
        >{{ billboard.category.title }}</a
        >
      </p>
      <p>Опубликовано: {{ billboard.published_at|date:"d.m.Y H:i:s" }}</p>
      <a href="{% url "billboard:billboard_detail" billboard.id %}">Подробнее</a>
      <hr>
    </div>
{% endfor %}
{% endblock content %}