{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
Редактирование {{ user.username }}
{% endblock title %}

{% block header_name %}
<h1>Редактирование профиля {{ user.username }}</h1>
{% endblock header_name %}

{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %} {% bootstrap_form form %} 
                    {% bootstrap_button button_type="submit" content="Отправить" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
